body {
    padding: 20px;
    letter-spacing: 1px;
    background: url("./img/traffic-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.active {
    font-weight: bold;
}

.register-form {
    margin-top: 20px;
}

.form-details {
    margin-top: 20px;
}

.form-details > div {
    margin: 10px;
}
